.text--variant-display {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin: auto;
}

.text--variant-headingL {
  font-family: "Roboto", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  margin: auto;
}

.text--variant-headingM {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: auto;
}

.text--variant-headingS {
  font-family: "Roboto", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin: auto;
}

.text--variant-headingSm {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
}

.text--variant-headingXs {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto;
}

.text--variant-subheading {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
}

.text--variant-bodym {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.text--color-darklow {
  color: #8d93a1;
}

.text--color-darkmedium {
  color: #646b7e;
}

.text--color-darkhigh {
  color: #323953;
}
.text--color-magenta {
  color: #ed0082;
}
.text--color-lightsolid {
  color: #ffffff;
}

.text--color-lighthigh {
  color: #ebecef;
}
